@media (prefers-color-scheme: dark){
    body {color:#e3e3e3;background:#121212}
    a:link {color:#9cf}
    a:hover, a:visited:hover {color:#cef}
    a:visited {color:#c9f}
}

@media print{
    body{
        max-width:none
    }
}

body{
    margin:0 auto;
    max-width:75em;
    padding:0 1em;
    font:1.2em/1.62 monospace;
}

.main {
    margin-top: 8em;
}

h1,h2,h3 {
    line-height:1.2;
    color: #2bbc8a;
}

h1 {
    font-size: 2em;
}

h2 {
    margin-top: 2em;
}

h3 {
    color:#666;
}

p {
    line-height:1.7;
}
